*, *::before, *::after {
    box-sizing: border-box;
}


@media (max-width:394px) {

    .nav-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .nav-links {
        font-size: 1.5rem;
    }


    .nav-wrapper > .left-column {
        order: 2;
        margin-top: 20px;
        margin-bottom:10px;
    }

    .nav-wrapper > .center-column {
        order: 1;
        width: 100%;
        gap: 0.5rem;
    }

    .nav-wrapper > .center-column > .nav-links {
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .nav-wrapper > .center-column > .nav-links > .link {
        margin-bottom: 10px;
        width: 100%;
    }


    .nav-wrapper > .right-column {
        order: 3;
        margin-top: 10px;
        margin-bottom: 40px;
    }


    .hero-section {
        padding: 50px 10px;
    }

    .features-section {
        height: 100%;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        padding: 1rem 0;
        flex-direction: column;
    }

    .features-section > .columns-wrapper > .column {
        margin: 25px;
    }

    .footer {
        height: auto;
    }

    .footer > .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .footer > .nav-links > .link {
        margin-top: 20px;
    }


    /* //////////////////////////////// */
    /*     About us and menu page      */
    /* ////////////////////////////// */
    .skewed-header  > .header-bg {
        background-size: 550px;
        background-repeat: no-repeat;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .page-content {
        padding-left:21px;
        padding-right:21px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .nav-links > .link {
        margin-bottom: 20px;

}

    .page-content > #chef {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }


    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .image-wrapper {
        order: 2 !important;
        padding-left:21px;
        padding-right:21px;
    }

    .square > .text-wrapper {
        order: 1 !important;
    }


    /* //////////////////////////////// */
    /*            contact us           */
    /* ////////////////////////////// */

    .page-container > .page-container-grid{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 1rem;
        gap:3rem;
        
    }

    .page-container > .page-container-grid > .company-metadata-details-wrapper {
        display: grid;
        grid-gap: 10px;

    }
    .form-group {
       padding: 0;
    }

    form input, form textarea {
        max-width: 100%;
    }

    form textarea {
        max-width: 100%;
    }
    .center-button-wrapper {
        margin-top: 0;
    }


}