.nav-wrapper {
    height: 300px;
    background-color: #11122b;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

/* left-column */

.nav-wrapper>.left-column {
    color: white;
    display: flex;
    font-family: "roboto", sans-serif;
}

.nav-wrapper>.left-column>.contact-hours-wrapper {
    margin-left: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px;
}

.nav-wrapper>.left-column>.contact-hours-wrapper>.phone {
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-wrapper>.left-column>.contact-hours-wrapper>.open-hours {
    font-size: 0.8em;
}

.nav-wrapper>.left-column>.phone-icon i {
    font-size: 2em;
}

.nav-wrapper>.center-column>.company-logo {
    display: flex;
    justify-content: center;

}

.nav-wrapper>.center-column>.company-logo img {
    width: 250px;
    height: 100%;
}

/* center-column */
.center-column {
    width: 550px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;

}

.center-column>.nav-links {
    display: flex;
    justify-content: space-between;

}

.center-column>.nav-links>.link a {
    color: white;
    text-decoration: none;
    font-family: "Ubuntu Condensed", sans-serif;
    letter-spacing: 0.5px;
    transition: 0.7s;
}

.center-column>.nav-links>.link a:hover {
    color: #cea135;
    letter-spacing: 1.5px;
}

.center-column>.nav-links>.link {
    width: 60px;
    text-align: center;
}

/* right-column */
.right-column {
    display: flex;
    font-family: "ubuntu condensed", sans-serif;
    align-items: center;
}

.right-column>.address {
    width: 70px;
    letter-spacing: 0.5px;
}

.right-column>.location-icon {
    margin-left: 4px;
    font-size: 1.8em;
}

.right-column >.address a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.right-column >.address a:hover {
    color: #cea135;
}

.right-column>.location-icon a {
    color: white;
    transition: 0.7s;
}

.right-column>.location-icon a:hover {
    color: #cea135;
}


